<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Total</th>
			<th>State</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @orders.each do |o| %>
			<tr>
				<td><%= o.id %></td>
				<td><%= o.total %></td>
				<td><%= o.state %></td>
				<td><%= link_to 'Edit', edit_admins_order_path(o) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
